@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  min-height: 100vh;
  background-image: url('https://img.freepik.com/free-vector/circles-background-dark-tones_60389-166.jpg');
  font-family:'Poppins',sans-serif;
  background-size: cover;
  height: 100%;
}
